
:root{
    --pri: #F8F4E1;
    --sec: #381C0A;
    --tri: #FEBA17;
    --tri1: #74512D;
    
    
}





@font-face {
    font-family:light;
    src: url(./Aeonika-BF66fcc5a8cc5db.otf);
}

@font-face {
    font-family:aeonik;
    font-weight: 200;
    src: url(./fonnts.com-Aeonik-Regular.ttf);
}

@font-face {
    font-family:aeonik;
    font-weight: 500;
    src: url(./fonnts.com-Aeonik-Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonik;
    color: var(--pri)
}
html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
}

nav{
    position:fixed;
    width: 100%;
    height: 60px;
    background-color: var(--tri1);
}

section.allElems{
    height:100%;
    width: 100%;
    padding: 40px;
    padding-top:80px;
    


}

